
@{
    ViewData["Title"] = "Index";
}

<h1 style="color: @ViewBag.Color">LOGIN Page for @ViewBag.AppName</h1>
<div>Count: @ViewBag.Count</div>
<div>Display URL: @ViewBag.DisplayUrl</div>
<div>Encoded URL: @ViewBag.EncodedUrl</div>

